:root {
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
    --transition: .5s;
}

.sec_form {
    margin: 240px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form_container {
    width: 350px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
}
.title {
    text-align: center;
    color: var(--dark-color);
    font-size: 28px;
    font-weight: 800;
    margin: 10px 0 20px;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 15px;
}
.form input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #c0c0c0;
    transition: 0.3s ease-in-out;
}
.form input:focus {
    border-color: var(--main-color);
}
.page_link {
    margin: 0;
    text-align: end;
}
.page_link .page_link_lable {
    color: var(--parg-color);
    font-size: 12px;
    cursor: pointer;
}
.page_link .page_link_lable:hover {
    color: #000;
}
.btn_form {
    padding: 10px 15px;
    background: var(--main-color);
    outline: none;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
}
.sing_up_lable {
    margin: 0;
    font-size: 12px;
    color: var(--parg-color);
    margin-bottom: 15px;
}
.sing_up_lable .sing_up_link {
    color: var(--main-color);
    font-size: 14px;
    text-decoration: underline;
    margin-left: 2px;
}
.buttons_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}
.buttons_container i {
    font-size: 22px;
}
.apple_login,
.google_login {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}
.apple_login {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}
.google_login {
    color: var(--dark-color);
    border: 2px solid #c5c5c5;
}

@media (max-width: 500px) {
    .form_container {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}